
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
html,body {
    background:#000;
    width: 85rem;
    height: 42.5rem;
  }
  .bird,.pjvolar,.pjcaer{
    background:url(../images/reven.png); 
    width:102px;
    height:85px;
    right: 35%;
    position:relative;
    margin:auto;  
  }
  .naranja,.arboles,.montanas,.nubes,.suelo{
    height: 100%;
    width: 100%;
  }

.bird {
    top: 20%;
    animation:fly.4s steps(5) infinite 0.10ms;
  } 

.pjvolar{
    top: 20%;
    animation:volar 1s forwards 0.15s , aleteoVolar 0.3s steps(2) forwards;
}

.pjcaer{
    top: 0%;
    animation:caer 0.5s forwards 0.1s , aleteoCaer 0.4s steps(1) forwards;
}
@keyframes caer {
  0%{top: 0%;}
  25%{transform:rotateZ(40deg);}
  100%{top: 20%;}
}
@keyframes aleteoCaer {
  0% { background-position: left top}
  100% { background-position: top left 110px }
}

@keyframes fly {
  0% { background-position: left top}
  100% { background-position: top left -550px }
}
@keyframes volar {
  0%{top: 10%;}
  10%{transform: rotateZ(-20deg);}
  25%{transform:rotateZ(-40deg);}
  60%{transform: rotateZ(-10deg);}
  100%{top: 0%;
      }
}
@keyframes aleteoVolar {
  0%{background-position: top left }
  100%{
    background-position: top left 220px;/*220*/
  }
}

/*fondo con parallax*/

.naranja{
  background:url(../images/fondoNaranja.png) repeat-X;
  animation: movebg 30s linear infinite;
  position:relative;
}
.nubes{
background:url(../images/fondoNube.png) repeat-X;
animation: movebg 15s linear infinite;
position:relative;
}

.montanas{
background:url(../images/fondoMontañas.png) repeat-X;
animation: movebg 40s linear infinite;
position:relative;
}
.arboles{
background:url(../images/fondoArboles.png) repeat-X;
animation: movebg 25s linear infinite;
position:relative;
}
.suelo{
background:url(../images/fondoSuelo.png) repeat-X;
animation: movefloor 15s linear infinite;
position:relative;
}

@keyframes movefloor {
  0% { background-position:0px } 
  100% { background-position: -1600px }
}
@keyframes movebg {
  0% { background-position:0px } 
  100% { background-position: -1920px }
}
