@import url(animations.css);
@import url(menu.css);
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
.puntaje{
  text-align-last: center;
  font-size: 50px;
  margin-top: 20px;
}
html,body {
    background:#000;
    width: 85rem;
    height: 42.5rem;
  }

  .bird,.pjvolar,.pjcaer{
    background:url(../images/reven.png); 
    width:83px;
    height:80px;
    right: 35%;
    position:relative;
    margin:auto;  
  }
  .layer1,.layer2,.layer3,.layer4,.layer5,.layer6,.layer7{
    height: 100%;
    width: 100%;
  }

.bird {
    top: 60%;
    animation:fly.4s steps(5) infinite 0.10ms;
  } 

.pjvolar{
    top: 60%;
    animation:volar 1s forwards 0.15s , aleteoVolar 0.3s steps(2) forwards;
}

.pjcaer{
    top: 40%;
    animation:caer 0.5s forwards 0.1s , aleteoCaer 0.4s steps(1) forwards;
}
.pjdead{
  animation: die 1s forwards 0.20ms, dieAnimation 0.5s steps(4) forwards ;
}

.meteoro{
  position: absolute;
  height: 75px;
  width: 74px;
  top: 60%;
  margin:auto;  
  background:url(../images/pumpkin.png);
  animation: meteoroInScreen 3s linear infinite, pumpkin 0.6s steps(6) infinite;
}

/*fondo con parallax*/

.layer7{
  background:url(../images/layer7.png) top -100px right 550px;
  position:relative;
}
.layer6{
background:url(../images/layer6.png) repeat-X;
animation: movebgReverse 40s linear infinite;
position:relative;
}

.layer5{
background:url(../images/layer5.png)  repeat-X;
position:relative;
}
.layer4{
background:url(../images/layer4.png) repeat-X;
position:relative;
}
.layer3{
background:url(../images/layer3.png) repeat-X;
position:relative;
}
.layer2{
  background:url(../images/layer2.png) 0px repeat-X;
  position:relative;
  }
  .layer1{
  background:url(../images/layer1.png) 0px repeat-X;
 
  position:relative;
  }
  .l5Animation{
    animation: movebg 25s linear infinite;

  }
  .l4Animation{
    animation: movebg 30s linear infinite;   
  }
  .l3Animation{
  animation: movebg 17s linear infinite;  
  }
  .l2Animation{
    animation: movebg 10s linear infinite;

  }
  .l1Animation{
    animation: movebg 10s linear infinite;
  }


