.container{
    background-color: rgb(68, 68, 68);
    width: 70%;
    height: 38rem;
    margin: auto;
    padding: 22px;  
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 10px;
}
.config{
    display: flex;
    justify-content: flex-start;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;    
}

canvas{
    border:20px solid #000000;
    border-style:double;
    background-color:cadetblue;
}

body{
    background-color: rgb(68, 68, 68);
}
p{
    color: blanchedalmond;
}

