    @import url('muro.css');
    @import url('style.css');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
    @font-face {
        font-family: "Salsa";
        src: url("../fonts/Salsa-Regular.ttf");
    }
    
    @font-face {
        font-family: "Alef";
        src: url("../fonts/Alef-Regular.ttf");
    }
    
    @font-face {
        font-family: "Abel";
        src: url("../fonts/Abel-Regular.ttf");
    }
    
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        border: none;
        outline: none;
    }
    
    .cuerpo-chat {
        width: 95%;
        height: auto;
        padding-top: 6%;
        padding-bottom: 3%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border-radius: 5px;
        order: 8px solid rgb(137, 0, 165);
        box-sizing: border-box;
        background: rgb(195, 74, 219);
    }
    
    .chat-flex {
        display: flex;
    }
    
    .conectados {
        width: 25%;
        height: 80%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        background: rgb(255, 255, 255);
        border: 1px solid rgba(119, 0, 143);
        box-sizing: border-box;
        border-radius: 8px;
    }
    
    .titulo {
        width: 30%;
        height: 80%;
        padding-top: 5%;
        margin-left: 35%;
        margin-right: 5%;
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 35px;
        color: #000000;
        text-align: center;
    }
    
    .chat1,
    .chat2,
    .chat3,
    .chat4 {
        padding-top: 12%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
    }
    
    .img1,
    .img2,
    .img3,
    .img4,
    .imgUser1 {
        border-radius: 100%;
        margin: 2%;
    }
    
    .img1 {
        width: 12%;
        height: 12%;
        padding: 12%;
        background: url("../images/contacto2.jpg");
        background-size: 100%;
    }
    
    .img2 {
        width: 12%;
        height: 12%;
        padding: 12%;
        background: url("../images/Contacto1.jpg");
        background-size: 140%;
    }
    
    .img3 {
        width: 12%;
        height: 12%;
        padding: 12%;
        background: url("../images/contacto4.jpg");
        background-size: 100%;
    }
    
    .img4 {
        width: 12%;
        height: 12%;
        padding: 12%;
        background: #63c904;
        background: url("../images/contacto3.jpg");
        background-size: 100%;
    }
    
    .nom1,
    .nom2,
    .nom3,
    .nom4,
    .nombreUser1 {
        font-family: Actor;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
    
    .nom1 {
        width: 50%;
        height: 80%;
        padding-top: 7%;
        margin-left: 1%;
        margin-right: 5%;
        text-align: center;
    }
    
    .nom2 {
        width: 50%;
        height: 80%;
        padding-top: 7%;
        margin-left: 1%;
        margin-right: 5%;
        text-align: center;
    }
    
    .nom3 {
        width: 50%;
        height: 80%;
        padding-top: 7%;
        margin-left: 1%;
        margin-right: 5%;
        text-align: center;
    }
    
    .nom4 {
        width: 50%;
        height: 80%;
        padding-top: 7%;
        margin-left: 1%;
        margin-right: 5%;
        text-align: center;
    }
    
    .conversacion {
        width: 67%;
        height: auto;
        padding-top: 0%;
        margin-left: 0%;
        margin-right: 2.5%;
        background: #FFFFFF;
        border: 1px solid rgba(119, 0, 143);
        box-sizing: border-box;
        border-radius: 8px;
    }
    
    .perfil-chat {
        padding-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: row;
    }
    
    .nom-com {
        display: flex;
        flex-direction: column;
    }
    
    .imgUser1 {
        width: 5%;
        height: 5%;
        padding: 5%;
        background: url("../images/contacto5.jpg");
        background-size: 100%;
    }
    
    .nombreUser1 {
        width: 100%;
        height: 20%;
        padding-top: 25%;
        margin-left: 0%;
        margin: right 0;
    }
    
    .ultimaConeccion {
        font-family: Abel;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: rgba(0, 0, 0, 0.62)
    }
    
    .mensajeria {
        width: 100%;
        height: 60%;
        padding-top: 0%;
        margin-left: 0%;
        margin-right: 2.5%;
        background: #FFFFFF;
        border: 1px solid rgba(119, 0, 143);
        box-sizing: border-box;
        border-radius: 8px;
    }
    
    .msg1 {
        padding: 1%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        justify-content: flex-end;
        color: #000000;
        font-size: 18px;
    }
    
    .msg2 {
        padding: 1%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        justify-content: flex-end;
        color: #000000;
        font-size: 18px;
    }
    
    .msg3 {
        padding: 1%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        justify-content: flex-start;
        color: #000000;
        font-size: 18px;
    }
    
    .msg4 {
        padding: 1%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        justify-content: flex-end;
        color: #000000;
        font-size: 18px;
    }
    
    .iconos {
        display: flex;
        justify-content: flex-end;
    }
    
    .llamada {
        width: 5%;
        height: 10%;
        padding: 0.2%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .videoconferencia {
        width: 5%;
        height: 10%;
        padding: 0.2%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .btn-chat {
        display: flex;
    }
    
    .cargartexto {
        width: 95%;
        height: 60%;
        padding-top: 0%;
        margin-left: 0%;
        margin-right: 0.5%;
        background: #FFFFFF;
        border: 1px solid rgba(119, 0, 143);
        box-sizing: border-box;
        border-radius: 8px;
    }
    
    .btn-enviar {
        width: 2.5%;
        height: 2%;
        padding-top: 0%;
        margin-left: 1%;
        margin-right: 1.5%;
    }