.navbar-nav {
    width: 100%;
    height: 100%;
    margin-left: 40%;
    margin-right: 40%;
}

.navbar>button {
    background-color: rgb(255, 255, 255);
}

.homeIcon {
    border-bottom: solid 2px white;
}

.navbar-nav>.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.459);
}

.chat {
    background-color: rgba(255, 255, 255, 0.952);
    width: 16%;
    margin-top: 4.85%;
    height: 88%;
    padding-bottom: 10px;
    left: 83%;
    border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    overflow-y: scroll;
    white-space: nowrap;
}

.scrollbarVet {
    scrollbar-width: thin;
    scrollbar-color: rgba(119, 0, 143, 0.315) white;
}

.chatA {
    text-decoration: none;
    left: 89%;
    bottom: 31%;
    color: black;
    font-family: fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 61px;
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .chat {
        width: 70%;
        height: 100%;
        left: 40%;
    }
    .chatA {
        display: block;
    }
    .publicar {
        width: 96% !important;
        margin-right: 3.5% !important;
        height: auto !important;
    }
    .publicidad,
    .muroPublicaciones,
    .colorB {
        width: 93% !important;
        margin-right: 3.5% !important;
        margin-left: 3.5% !important;
        height: auto !important;
    }
    .publicidad>img {
        width: 31%;
        height: auto;
        margin-left: 1%;
    }
    .uploadimg {
        margin-left: 0px;
    }
    .videoUp,
    .imagenUp {
        width: 50% !important;
    }
    .sugerencia {
        width: 70px !important;
        height: 70px !important;
    }
    .align-items-center>p {
        font-size: 12px !important;
    }
    .bAcept {
        width: 80% !important;
        height: 20px !important;
        margin-top: -1em !important;
        margin-bottom: 1em !important;
        font-size: 80% !important;
    }
    .comenRight {
        width: 32% !important;
    }
    .bodyComment {
        height: 86px !important;
    }
    .col-sm>img {
        width: 90% !important;
        height: auto !important;
        padding: -1px !important;
    }
    .col-sm {
        margin-top: 1px !important;
    }
    .navbar-nav>.nav-item {
        align-items: flex-end !important;
        justify-content: unset !important;
        background-color: rgb(119, 0, 143) !important;
    }
    .homeIcon>img,
    .busquedaIcon>img,
    .perfilIcon>img,
    .chatIcon {
        margin-left: 5em;
    }
    .chatIcon {
        filter: invert(100%);
        margin-left: 2.2em;
    }
    .homeIcon {
        border: 0px !important;
    }
    .navbar-nav>.nav-item:hover {
        background-color: rgb(44, 0, 53) !important;
    }
    .navbar-toggler-icon {
        width: 1em !important;
        height: 1.2em !important;
    }
    .navbar-toggler {
        margin-right: 1em;
    }
    .buttonComment>img {
        width: 135% !important;
        margin-left: -10px;
    }
    .chat {
        margin-top: 15.79% !important;
        height: 87.7% !important;
    }
}

@media screen and (min-width: 1040px) {
    .chat {
        display: block;
    }
}

.titleChat {
    padding: 11%;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-right: 15%;
    margin-top: 2%;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.082) solid 0.5px;
}

.titleChat>img {
    width: 23px;
    height: 20px;
    transform: rotate(30deg);
    margin-left: 10px;
    margin-top: 20px;
}

.titleChat>p {
    color: rgb(214, 70, 243);
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 61px;
}

.contactos {
    margin-top: 10%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.estado {
    width: 11px;
    height: 11px;
    background: #00ee34;
    border-radius: 100%;
    margin-top: 70%;
    margin-left: 77%;
    border: 0.1px solid rgba(0, 0, 0, 0.534);
}

.foto,
.fotoAmigo {
    width: 60.21px;
    height: 60.1px;
    border-radius: 100%;
    margin: 2%;
}

.fotoAmigo {
    width: 40px;
    height: 40px;
}

.contacto1>.foto {
    background-image: url("../images/contacto2.jpg");
    background-size: 100%;
}

.contacto2>.foto {
    background-image: url("../images/Contacto1.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
}

.contacto3>.foto {
    background-image: url("../images/contacto3.jpg");
    background-size: 100%;
}

.contacto4>.foto {
    background-image: url("../images/contacto4.jpg");
    background-size: 100%;
}

.contacto1,
.contacto2,
.contacto3,
.contacto4,
.contacto6,
.contacto7,
.contacto8,
.contacto9,
.contacto10 {
    width: 100%;
    margin-bottom: 3%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.contacto1>p,
.contacto2>p,
.contacto3>p,
.contacto4>p {
    color: black;
    margin-top: 3.5%;
}

button,
a {
    background-color: rgba(255, 255, 255, 0);
}

.contactos>button:hover,
.contactos>a:hover {
    background-color: rgba(99, 0, 102, 0.527);
    border-radius: 50px;
}

.containerM {
    padding-top: 65px;
    background-color: rgb(241, 241, 241);
}

.publicidad {
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
    margin-left: 1%;
}

.publicaciones {
    width: 100%;
    height: 100%;
    margin-left: 0.2%;
}

.publicar {
    border-radius: 5px;
    color: rgb(255, 255, 255);
    height: 105px;
    border: 1px solid rgba(0, 0, 0, 0.507);
    background-color: rgb(255, 255, 255);
}

.prueba {
    background-color: rgba(119, 0, 143, 0.315);
    background-size: 20%;
    width: auto;
    height: 100%;
}

.muroPublicaciones,
.publicar,
.colorB {
    width: 80%;
    margin-left: 1.8%;
}

.publicacion1,
.sugerencias {
    color: black;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.507);
}

.muroPublicaciones>div {
    width: 100%;
    background-color: white;
    margin-bottom: 2.1%;
    border-radius: 5px;
}

.muroPublicaciones {
    margin-top: 4%;
}

.prueba>p {
    margin-left: 2.5%;
    padding-top: 1%;
    margin-bottom: -0.5px;
    font-family: Alef;
    color: black;
}

.d-flex>input {
    border: solid 1px black;
    width: 95%;
    margin-left: 2.5%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: Abel;
    font-size: 17px;
    border-right: none;
}

.publicidad>img {
    margin-bottom: -1%;
}

.buttonPubli,
.buttonComment {
    margin-right: 2.5%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #3770e2;
    border: 1px solid black;
    width: 70px;
}

.buttonPubli:hover,
.bAcept:hover {
    opacity: 70%;
}

.videoUp:hover,
.imagenUp:hover,
.hoverBgGrey:hover {
    filter: invert(95%);
}

.uploadimg {
    margin-top: 1%;
    margin-left: auto;
    background: none;
    width: 90%;
    justify-content: space-around;
    height: 30px;
}

.videoUp>img,
.imagenUp>img {
    width: 30px;
    height: 30px;
}

.videoUp,
.imagenUp {
    width: 30%;
}

.videoUp>img {
    margin-top: -1%;
}

.imagenUp>img {
    margin-top: -1%;
}

.videoUp>p,
.imagenUp>p {
    padding-left: 11px !important;
    height: 30px;
}

.videoUp>p {
    padding-top: 1.5px !important;
}

.imagenUp>p {
    padding-top: 1px !important;
}

.publicacion1,
.colorB {
    width: 100%;
    height: auto;
}

.publicacion1>button,
.publicacion1>a {
    width: 50%;
    height: 18%;
    margin: 2%;
}

a {
    text-decoration: none !important;
}

.name {
    margin-bottom: -2px;
    font-size: 100%;
    font-weight: 500;
}

.timePost {
    color: rgba(0, 0, 0, 0.534);
    font-size: 12px;
    margin-left: -15px;
}

.person {
    margin-top: 5%;
}

.bodyText {
    font-weight: 400;
    font-size: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: justify;
}

.like>img,
.bC>img {
    width: 18px;
    height: 18px;
    margin-top: 3px;
}

.bC>.likebC {
    margin-top: 2px !important;
}

.like,
.comenRight {
    margin-top: 2%;
    height: 25px;
    color: rgb(0, 0, 0);
    display: block;
}

.like {
    width: 10%;
    text-align: center;
}

.like>p {
    margin-left: 5px;
    margin-bottom: 10px;
}

.mgLeft {
    margin-left: 6px;
}

.fontActor {
    font-family: Actor;
}

.fontAbel {
    font-family: Abel;
}

.comenRight>p {
    font-size: 100%;
    height: 20px;
    display: inline-block;
    white-space: nowrap !important;
}

.comenRight {
    width: 12%;
}

.comentAndLik {
    margin-top: 2%;
    width: 100%;
}

.publiContact {
    width: 60% !important;
}

.bodyComment {
    padding-top: 1%;
    width: 100%;
    height: 85px;
    background: linear-gradient(rgb(204, 143, 204), rgba(119, 0, 143, 0.699));
    padding-left: 2%;
    padding-right: 2%;
}

.comentInput {
    width: 104.5%;
    margin-left: -2.5% !important;
}

.buttonsComent>button,
.buttonsComent>div {
    margin-bottom: -10px;
    height: 30px;
    font-family: Abel;
}

.buttonsComent>div {
    color: black;
}

.buttonsComent {
    margin-bottom: 2%;
    margin-right: 1%;
}

.buttonComment {
    width: 5%;
    background-color: white;
    border-left: none;
}

.buttonComment>img {
    width: 50%;
    height: auto;
    margin-bottom: 2px;
}

.imgPost {
    width: 100%;
    height: auto;
}

.imgPost>img {
    margin-left: -2.6%;
    width: 105.3%;
    height: auto;
}

.colorB {
    color: black;
    margin-left: -0.1%;
    font-weight: 600;
}

.sugerencias {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    margin-top: -2%;
}

.sugerencias>.d-flex {
    width: 100%;
    margin: 2%;
}

.sugerencia {
    margin: 2%;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-image: url("../images/contacto5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.align-items-center>p {
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 18px;
    line-height: 29px;
}

.d-flex>.bAcept {
    background-color: #0184CD;
    color: white;
    width: 100%;
    border-radius: 5px;
}

.col-sm>img {
    width: 100%;
    height: 166px;
    border: rgba(0, 0, 0, 0.568) solid 1px;
}

.col-sm {
    width: 30em;
}

.contenedor_loader {
    position: fixed;
    width: 94vw;
    height: 85vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}

.loader {
    color: rgba(99, 0, 102, 0.747);
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0%;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.allBody {
    display: none;
}