@import url(animaciones.css);
.navbar-nav {
    width: 100%;
    height: 100%;
    margin-left: 30%;
    margin-right: 38%;
}

.navbar>button {
    background-color: rgba(255, 255, 255, 0);
}

.line {
    width: 70px;
    height: 3px;
    margin-top: 3px;
    background: #000000;
    animation: lineChange 0.4s;
}

.nav-item>img:hover {
    width: 73px !important;
    height: 70px !important;
    transition: 0.2s !important;
}

.nav-item {
    margin-top: 1.5%;
}

.chat {
    background-color: rgb(100, 100, 100);
    width: 30%;
    height: 100%;
    min-height: 700px;
    left: 83%;
    z-index: 1;
}

.chatA {
    text-decoration: none;
    left: 89%;
    bottom: 31%;
    color: black;
    font-family: fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 61px;
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .chat {
        width: 70%;
        height: 100%;
        left: 40%;
    }
    .chatA {
        display: block;
    }
    .publicar {
        width: 96% !important;
        margin-right: 3.5% !important;
        height: auto !important;
    }
    .publicidad,
    .muroPublicaciones,
    .colorB {
        width: 93% !important;
        margin-right: 3.5% !important;
        margin-left: 3.5% !important;
        height: auto !important;
    }
    .publicidad>img {
        width: 31%;
        height: auto;
        margin-left: 1%;
    }
}

@media screen and (min-width: 1040px) {
    .chat {
        display: block;
    }
}

.chat>p {
    color: black;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 2%;
    font-family: fantasy;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 61px;
}

.contactos {
    margin-top: 10%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.estado {
    width: 17.06px;
    height: 17.03px;
    background: #00AF27;
    border-radius: 100%;
    margin-top: 73%;
    margin-left: 73%;
}

.foto {
    width: 60.21px;
    height: 60.1px;
    border-radius: 100%;
    margin: 2%;
}

.contacto1>.foto {
    background: #3C4600;
}

.contacto2>.foto {
    background: #5A0000;
}

.contacto3>.foto {
    background: #434343;
}

.contacto4>.foto {
    background: #170048;
}

.contacto1,
.contacto2,
.contacto3,
.contacto4 {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.contacto1>p,
.contacto2>p,
.contacto3>p,
.contacto4>p {
    color: black;
    margin-top: 3.5%;
}

button {
    background-color: rgba(255, 255, 255, 0);
}

.contactos>button:hover {
    background-color: rgba(224, 224, 224, 0.384);
    border-radius: 50px;
}

.containerM {
    padding-top: 125px;
    background-color: #FCFCFC;
}

.publicidad {
    background-color: #C4C4C4;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
}

.publicaciones {
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    margin-top: 12.5%;
}

.publicar {
    height: 105px;
}

.muroPublicaciones,
.publicar,
.colorB {
    width: 80%;
    margin-left: 1.8%;
}

.publicacion1,
.publicar,
.sugerencias {
    background-color: #808080;
}

.muroPublicaciones>div {
    width: 100%;
    background-color: #808080;
    margin-bottom: 2.1%;
}

.muroPublicaciones {
    margin-top: 3%;
}

.publicar>p {
    margin-left: 2.5%;
    padding-top: 1%;
    margin-bottom: -0.5px;
    font-family: Actor;
}

.d-flex>input {
    border: solid 1px black;
    width: 95%;
    margin-left: 2.5%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: Abel;
    font-size: 17px;
    border-right: none;
}

.publicidad>img {
    margin-top: 5%;
    margin-bottom: 5%;
}

.buttonPubli,
.buttonComment {
    margin-right: 2.5%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #3770e2;
    border: 1px solid black;
    width: 70px;
}

.buttonPubli:hover,
.bAcept:hover {
    opacity: 70%;
}

.uploadimg:hover,
.hoverBgGrey:hover {
    background: #ffffff94;
    border-radius: 7px;
}

.uploadimg {
    margin-top: 1%;
    margin-left: 2.5%;
    background: none;
    width: 16%;
    height: 30px;
}

.uploadimg>img {
    width: 30px;
    height: 30px;
}

.uploadimg>p {
    margin-top: 2%;
    margin-left: 2%;
    font-family: Actor;
}

.publicacion1,
.colorB {
    width: 100%;
    height: auto;
}

.publicacion1>button {
    width: 18%;
    height: 18%;
    margin: 2%;
}

.name {
    margin-bottom: -2px;
    font-size: 85%;
}

.timePost {
    color: #ffffffb9;
    font-size: 12px;
    margin-left: -15px;
}

.person {
    margin-top: 2%;
}

.bodyText {
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: justify;
}

.like>img,
.bC>img {
    width: 18px;
    height: 18px;
}

.like,
.comenRight {
    margin-top: 2%;
    height: 25px;
    color: #ffffffb9;
    display: block;
}

.like {
    width: 10%;
    text-align: center;
}

.like>p {
    margin-left: 5px;
    margin-bottom: 10px;
}

.mgLeft {
    margin-left: 6px;
}

.fontActor {
    font-family: Actor;
}

.comenRight>p {
    font-size: 100%;
    height: 20px;
    display: inline-block;
}

.comenRight {
    width: 16%;
}

.comentAndLik {
    margin-top: 2%;
    width: 100%;
}

.publiContact {
    width: 30% !important;
}

.bodyComment {
    padding-top: 1%;
    width: 100%;
    height: 85px;
    background-color: #C1C1C1;
    padding-left: 2%;
    padding-right: 2%;
}

.comentInput {
    width: 104.5%;
    margin-left: -2.5% !important;
}

.buttonsComent>button,
.buttonsComent>div {
    margin-bottom: -10px;
    height: 30px;
    font-family: Abel;
}

.buttonsComent>div {
    color: black;
}

.buttonsComent {
    margin-bottom: 2%;
    margin-right: 1%;
}

.buttonComment {
    width: 5%;
    background-color: white;
    border-left: none;
}

.buttonComment>img {
    width: 50%;
    height: auto;
    margin-bottom: 2px;
}

.imgPost {
    width: 100%;
    height: auto;
}

.imgPost>img {
    margin-left: -2.6%;
    width: 105.3%;
    height: auto;
}

.colorB {
    color: black;
    margin-left: -0.1%;
}

.sugerencias {
    overflow-x: scroll;
    width: 100%;
    margin-top: -2%;
}

.sugerencias>.d-flex {
    width: 100%;
    margin: 2%;
}

.sugerencia {
    margin: 2%;
    width: 100%;
    height: 120px;
    border-radius: 100%;
    background-color: rgb(29, 221, 163);
}

.align-items-center>p {
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 18px;
    line-height: 29px;
}

.d-flex>.bAcept {
    background-color: #0184CD;
    color: white;
    width: 100%;
}

.col>img {
    width: 100%;
    height: 200px;
    border: black solid 1px;
}