@import url('muro2.css');
@import url('animaciones.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@font-face {
    font-family: "Salsa";
    src: url("../fonts/Salsa-Regular.ttf");
}

@font-face {
    font-family: "Actor";
    src: url("../fonts/Actor-Regular.ttf");
}

@font-face {
    font-family: "Alef";
    src: url("../fonts/Alef-Regular.ttf");
}

@font-face {
    font-family: "Abel";
    src: url("../fonts/Abel-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    background-image: url("../images/Brown-dog-and-gray-cat-friends_1920x1200.png");
    background-size: 100%;
}

.backgroundimg {
    position: absolute;
    max-width: 100%;
    z-index: -2;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 128%;
    background-color: rgba(0, 0, 0, 0.603);
}

#navbarNavAltMarkup {
    height: 100px;
}

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: #062957d2;
}

.home {
    display: flex;
    justify-content: flex-end;
}

nav .iniciarSesion {
    margin-top: 15%;
    margin-right: 100px;
    padding: 5px;
    background-color: #FF3333;
    font-family: Alef;
    color: white;
}

#navbarNavAltMarkup img,
nav img {
    width: 64.76px;
    height: 59px;
}

.logo {
    position: absolute;
    left: 36.22px;
    top: 13px;
}

.petsocial {
    position: absolute;
    width: 159.16px;
    height: 38px;
    left: 20px;
    top: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.fontpetsocial {
    font-family: Salsa;
}

section {
    font-family: Alef;
    font-style: normal;
    color: white;
}

.containerIndex {
    position: absolute;
    top: 40%;
    left: 8%;
    right: 8%;
    text-align: center;
}

.posts {
    max-width: 100%;
    max-height: 100%;
    margin-top: 14%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.posts h2 {
    padding-left: 20px;
    margin-top: 10%;
}

.postDest {
    margin-left: 2%;
    background-color: rgb(24, 80, 145);
    padding: 2%;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
}

.post {
    width: 31%;
    height: 205px;
    background-color: white;
}