@import url('muro.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@font-face {
    font-family: "Salsa";
    src: url("../fonts/Salsa-Regular.ttf");
}

@font-face {
    font-family: "Actor";
    src: url("../fonts/Actor-Regular.ttf");
}

@font-face {
    font-family: "Alef";
    src: url("../fonts/Alef-Regular.ttf");
}

@font-face {
    font-family: "Abel";
    src: url("../fonts/Abel-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    background-image: url("../images/Brown-dog-and-gray-cat-friends_1920x1200.png");
    background-size: 100%;
}

.backgroundimg {
    position: absolute;
    max-width: 100%;
    z-index: -2;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 128%;
    background-color: rgba(0, 0, 0, 0.603);
}

#navbarNavAltMarkup {
    height: 50px;
}

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.575);
}

.home {
    display: flex;
    justify-content: flex-end;
}

.iniciarSesion {
    margin-top: 2%;
    margin-left: 43.8%;
    margin-right: 40%;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(119, 0, 143);
    font-family: Alef;
    color: white;
    width: 180px;
}

.iniciarSesion:hover {
    background-color: rgba(119, 0, 143, 0.664);
}

#navbarNavAltMarkup img,
nav img {
    width: 30px;
    height: 30px;
}

.logo {
    position: absolute;
    left: 15.22px;
    top: 10px;
}

.petsocial {
    position: absolute;
    width: 159.16px;
    height: 38px;
    left: 50px;
    top: 12.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
}

.fontpetsocial {
    font-family: Salsa;
}

section {
    font-family: Alef;
    font-style: normal;
    color: white;
}

.containerIndex {
    width: 65%;
    margin-left: 18%;
    margin-right: 18%;
    text-align: center;
    padding-top: 13%;
}

.posts {
    max-width: 100%;
    max-height: 100%;
    margin-top: 14%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.posts h2 {
    padding-left: 20px;
    margin-top: 10%;
}

.postDest {
    margin-left: 2%;
    background-color: rgba(119, 0, 143, 0.562);
    padding: 2%;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.post {
    width: 31%;
    height: 205px;
    background-color: white;
    border-radius: 5px;
}

.imgDog>img {
    width: 20%;
    height: auto;
}

.dogIndex2 {
    top: -1.2%;
    transform: rotateX(180deg);
    left: 80%;
}

.dogIndex3 {
    top: 126.6%;
    left: 54%;
    width: 16% !important;
    animation: animationDogIndex3 1.5s forwards 1s;
}

.dogIndex4 {
    transform: rotateZ(90deg);
    top: -4.5%;
    left: -1%;
    animation: animationDogIndex4 1.5s forwards 1s;
}

@keyframes animationDogIndex4 {
    0% {
        top: -20%;
        left: -19%;
    }
    100% {
        top: -4.5%;
        left: -1%;
    }
}

@keyframes animationDogIndex3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 126.6%;
        left: 54%;
    }
}

.backgroundParallax {
    width: 100%;
    height: 100%;
    top: -1%;
    opacity: 0.10;
    z-index: -1;
    filter: sepia(100%);
    background-image: url("../images/huellas.png");
    background-size: 112%;
}

.backgroundParallax {
    animation: huellasMove 10s linear infinite;
}

@keyframes animationDogIndex3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 126.6%;
        left: 54%;
    }
}

@keyframes huellasMove {
    0% {
        background-position-y: -1529.95px;
    }
    100% {
        background-position-y: 0px;
    }
}