#canvas{
    border:1px solid #d3d3d3;
    background-color: white;
}

nav{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 6px;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.349);
}

.menu{
    border: solid 1px black;
    margin-left: 2%;
    border-radius: 3%;
    width: 30%;
    padding: 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.item{
    padding: 2%;
}

.container{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: rgba(206, 26, 26, 0.075);
    border-radius: 2%;
    
}